<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RedbonePlatform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=x.x.x.x, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <!--<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />-->
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <configBuilders>
    <builders>
      <add name="Secrets" mode="Token" userSecretsFile="~\App_Data\secrets.xml" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </builders>
  </configBuilders>
  <!--<configBuilders>
    <builders>
      <add name="Secrets" mode="Strict"  userSecretsFile="~/App_Data/secrets.xml" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets" />

    </builders>
  </configBuilders>-->
  <connectionStrings configBuilders="Secrets">
    <add name="RedBoneConnectionString" connectionString="${RedBoneConnectionString}" providerName="System.Data.SqlClient" />
    <add name="RedBoneConnectionString1" connectionString="${RedBoneConnectionString}" providerName="System.Data.SqlClient" />
    <add name="RedBoneConnectionString (Web.config)1" connectionString="${RedBoneConnectionString}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings configBuilders="Secrets">
	<add key="googleClientId" value="${googleClientId}" />
	<add key="googleClientSecret" value="${googleClientSecret}" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <!-- prod mail settings -->
    <!--<add key="MailSettings.IsDevelopment" value="false" />
    <add key="MailSettings.AdminToEmails" value="dbaxter@champtransportation.com,matt@redbonetrucking.com" />
    <add key="MailSettings.SupportToEmails" value="dbaxter@champtransportation.com,matt@redbonetrucking.com,toddcbyers@gmail.com,david@updownturnaround.com" />
    <add key="MailSettings.AccountingFrom" value="justin@redbonetrucking.com" />
    <add key="MailSettings.AccountingFromDisplayName" value="Justin Quilter &lt;justin@redbonetrucking.com&gt;" />
    <add key="MailSettings.DispatchFrom" value="info@redbonetrucking.com" />
    <add key="MailSettings.DispatchFromDisplayName" value="Redbone Trucking &lt;info@redbonetrucking.com&gt;" />
    <add key="MailSettings.From" value="info@redbonetrucking.com" />
    <add key="MailSettings.FromDisplayName" value="Redbone Trucking &lt;info@redbonetrucking.com&gt;" />
    <add key="MailSettings.Host" value="smtp.gmail.com" />
    <add key="MailSettings.HostPort" value="587" />
    <add key="MailSettings.HostUserName" value="info@redbonetrucking.com" />
    <add key="MailSettings.HostPassword" value="Be@rock0184" />
    <add key="MailSettings.HostSecret" value="" />-->
    <!-- dev mail settings -->
	<add key="MailSettings.SendMailToDedicatedUser" value="True" />
	<add key="MailSettings.DedicatedUserEmailAddress" value="david@updownturnaround.com" />
    <add key="MailSettings.IsDevelopment" value="true" />
    <add key="MailSettings.AdminToEmails" value="dbaxter@champtransportation.com,matt@redbonetrucking.com" />
    <add key="MailSettings.SupportToEmails" value="dbaxter@champtransportation.com,matt@redbonetrucking.com,toddcbyers@gmail.com,david@updownturnaround.com" />
    <add key="MailSettings.AccountingFrom" value="david@updownturnaround.com" />
    <add key="MailSettings.AccountingFromDisplayName" value="Dev &lt;david@updownturnaround.com&gt;" />
    <add key="MailSettings.DispatchFrom" value="info@redbonetrucking.com" />
    <add key="MailSettings.DispatchFromDisplayName" value="Redbone Trucking &lt;info@redbonetrucking.com&gt;" />
    <add key="MailSettings.From" value="info@redbonetrucking.com" />
    <add key="MailSettings.FromDisplayName" value="Redbone Trucking &lt;info@redbonetrucking.com&gt;" />
    <add key="MailSettings.Host" value="smtp.gmail.com" />
    <add key="MailSettings.HostPort" value="587" />
    <add key="MailSettings.HostUserName" value="${MailSettings-HostUserName}" />
    <add key="MailSettings.HostPassword" value="${MailSettings-HostPassword}" />
    <add key="MailSettings.HostSecret" value="" />
	  
    <add key="MailSettings.RecruitingFrom" value="recruiting@redbonetrucking.com" />
    <add key="MailSettings.RecruitingFromDisplayName" value="Redbone Trucking &lt;recruiting@redbonetrucking.com&gt;" />
    <add key="Factoring.AllowEditOfPaidInvoices" value="true" />
    <add key="PortalUrl" value="https://localhost:44343" />
    <add key="AsurintSettings.AccountId" value="28450" />
    <add key="AsurintSettings.LocationID" value="28450" />
    <add key="AsurintSettings.RootUser" value="${AsurintSettings-RootUser}" />
    <add key="AsurintSettings.RootPassword" value="${AsurintSettings-RootPassword}" />
    <add key="AsurintSettings.CustomerUserReferenceID" value="" />
    <!-- Test URLS -->
    <add key="AsurintSettings.PackageLookupUrl" value="https://aws-at.asurint.com/pwslogin/resources.svc/packages?vid=ATSx" />
    <add key="AsurintSettings.CreateOrderUrl" value="https://aws-at.asurint.com/pwslogin/Resources.svc/order?vid=ATSx" />
    <!-- PROD URLS -->
    <!--<add key="AsurintSettings.CreateOrderUrl" value="https://aws.asurint.com/pwslogin/Resources.svc/order?vid=ATSx" /> PROD -->
    <!--<add key="AsurintSettings.PackageLookupUrl" value="https://aws.asurint.com/pwslogin/resources.svc/packages?vid=ATSx" />       Prod -->
    <add key="AsurintSettings.ContactFirstName" value="" />
    <add key="AsurintSettings.ContactLastName" value="" />
    <add key="AsurintSettings.ContactEmail" value="" />
    <add key="AsurintSettings.ContactPhone" value="6235129434" />
    <add key="TextRequestSettings.ApiKey" value="${TextRequestSettings-ApiKey}" />
    <add key="TextRequestSettings.MsgCreatURL" value="https://api.textrequest.com/api/v3/dashboards/{dashboard_id}/contacts/{phone_number}/messages" />
    <add key="TextRequestSettings.BaseUrl" value="https://api.textrequest.com/api/v3/" />
    <add key="TextRequestSettings.RecruitingDashboardId" value="29520" />
    <add key="GmailConnectionOptions.RefreshToken" value="${GmailConnectionOptions-RefreshToken}" />
    <add key="GmailConnectionOptions.ClientId" value="${GmailConnectionOptions-ClientId}" />
    <add key="GmailConnectionOptions.ClientSecret" value="${GmailConnectionOptions-ClientSecret}" />
    <add key="RecruitingReleaseOptions.ResponseEmail" value="bejay@redbonetrucking.com, recruiting@redbonetrucking.com, john@redbonetrucking.com, safety@redbonetrucking.com" />
    <add key="RecruitingReleaseOptions.Phone" value="(317) 942-0716" />
    <add key="RecruitingReleaseOptions.QRLink" value="https://localhost:5001/Recruiting/VerificationEntryIndex?cde=" />
    <add key="EmploymentHistoryOptions.HistoryPortalLink" value="https://localhost:44343/EmploymentHistory/ViewHistory?AccessCde=" />
    <add key="SignalRSettings.LoadHubAPIBaseUrl" value="https://localhost:7095/api/Load/" />
    <add key="SignalRSettings.PersonHubAPIBaseUrl" value="https://localhost:7095/api/Person/" />
    <add key="SignalRSettings.XApiKey" value="${SignalRSettings-XApiKey}" />


	  <add key="Company.Main.aspx" value="~/images/internal-logo-crop.png" />
	  <add key="Company.Main.aspx_Dark" value="~/images/internal-logo-dark.png" />
	  <add key="Company.LoadStatus.aspx" value="~/images/logo.png" />
	  <add key="Company.Logistics.LoadStatus.aspx" value="~/images/logistics-logo-white.png" />
	  <add key="DispatchSheet.aspx_Image" value="~/images/logo.png" />
	  <add key="Logistics_DispatchSheet.aspx_Image" value="~/images/logistics-logo-white.png" />
	  <add key="DispatchSheet.aspx_DispatchEmailFrom" value="info@redbonetrucking.com" />
	  <add key="DispatchSheet.aspx_DispatchEmailFromFriendlyName" value="Redbone Dispatch" />
	  <add key="LogisticsDispatchSheet.aspx_DispatchEmailFrom" value="info@redbonelogistics.com" />
	  <add key="LogisticsDispatchSheet.aspx_DispatchEmailFromFriendlyName" value="Redbone Logistics" />
	  <add key="Reporting.DispatchSheet.trdp" value="../images/logo.png" />
	  <add key="Reporting.Logistics_DispatchSheet.trdp" value="../images/logistics-logo.png" />
	  <add key="Reporting.PR_SettlementReview" value="Redbone Trucking" />
	  <add key="Reporting.DriverDashboard_CompanyText" value="Redbone Trucking" />
	  <add key="Reporting.DriverDashboard_CompanyImage" value="../images/logo.png" />
	  <add key="Reporting.DriverDashboard" value="Redbone Trucking" />
	  <add key="Reporting.OwnerDashboard" value="Redbone Daily" />
	  <add key="Reporting.MarketingDashboard" value="Redbone Daily" />
	  <add key="MailSettings.CompanyName" value="Redbone Trucking" />
	  <add key="MailSettings.Logo" value="/images/email-logo.png" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="Off">
    </customErrors>-->
    <customErrors mode="RemoteOnly" />
    <compilation targetFramework="4.7.2" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
        <!--<add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="20480" executionTimeout="2400" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <sessionState mode="InProc" timeout="1440" cookieless="false" regenerateExpiredSessionId="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.WebRequest" culture="neutral" publicKeyToken="31BF3856AD364E35" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.1.201.40" newVersion="2021.1.201.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.1.201.40" newVersion="2021.1.201.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Zip" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.1.201.40" newVersion="2021.1.201.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2021.1.322.40" newVersion="2021.1.322.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.0" newVersion="2.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.0.0" newVersion="1.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Common" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.9.0.0" newVersion="12.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.TelemetryCorrelation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4.0" newVersion="1.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <RedbonePlatform.Properties.Settings>
      <setting name="LogoutRedirect" serializeAs="String">
        <value>https://google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=http://localhost/RedbonePlatform/Default.aspx?showlogin=false</value>
      </setting>
      <setting name="UserFilesLocation" serializeAs="String">
        <value>C:\RedbonePlatform\UserFiles\</value>
      </setting>
      <setting name="DispatchEmailEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Company" serializeAs="String">
        <value>Redbone</value>
      </setting>
      <setting name="ByPassAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ByPassAuthUser" serializeAs="String">
        <value>thomas@jadedsaint.com</value>
      </setting>
    </RedbonePlatform.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
		<!--<smtp deliveryMethod="Network">
			<network host="dedrelay.secureserver.net"  />
		</smtp>-->
		<smtp deliveryMethod="Network" configBuilders="Secrets">
			<network host="smtp.gmail.com" userName="info@redbonetrucking.com" password="${MailSettings-NetworkPass}" port="587" enableSsl="true" />
		</smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 03E98D18-6D8C-4968-8935-E3C8D602F12D-->