<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings configBuilders="Secrets">
		<add name="RedBoneConnectionString" connectionString="#{RedBoneConnectionStringDApp}#" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
		<add name="RedBoneConnectionString1" connectionString="#{RedBoneConnectionStringDApp}#" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
		<add name="RedBoneConnectionString (Web.config)1" connectionString="#{RedBoneConnectionStringDApp}#" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
	</connectionStrings>

	<appSettings>
		<!-- Secret Token Transforms-->
		<add key="googleClientId" value="#{googleClientId}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="googleClientSecret" value="#{googleClientSecret}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="SignalRSettings.XApiKey" value="#{SignalRSettings-XApiKey}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="GmailConnectionOptions.ClientId" value="#{GmailConnectionOptions-ClientId}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="GmailConnectionOptions.ClientSecret" value="#{GmailConnectionOptions-ClientSecret}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="GmailConnectionOptions.RefreshToken" value="#{GmailConnectionOptions-RefreshToken}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="TextRequestSettings.ApiKey" value="#{TextRequestSettings-ApiKey}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.RootUser" value="#{AsurintSettings-RootUser}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.RootPassword" value="#{AsurintSettings-RootPassword}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="MailSettings.HostUserName" value="#{MailSettings-HostUserName}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="MailSettings.HostPassword" value="#{MailSettings-HostPassword}#" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>



		<!--Regular transforms-->
		<add key="PortalUrl" value="test.truckingwizard.com/redboneportal"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

		<add key="AsurintSettings.CreateOrderUrl" value="https://aws-at.asurint.com/pwslogin/Resources.svc/order?vid=ATSx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.PackageLookupUrl" value="https://aws-at.asurint.com/pwslogin/resources.svc/packages?vid=ATSx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactFirstName" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactLastName" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactEmail" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactPhone" value="6235129434" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

		<add key="TextRequestSettings.ApiKey" value="3766acdd75dc422aa0518aced757b80e" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="TextRequestSettings.MsgCreatURL" value="https://api.textrequest.com/api/v3/dashboards/{dashboard_id}/contacts/{phone_number}/messages" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="TextRequestSettings.BaseUrl" value="https://api.textrequest.com/api/v3/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="TextRequestSettings.RecruitingDashboardId" value="29520" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

		<add key="RecruitingReleaseOptions.ResponseEmail" value="bejay@redbonetrucking.com, recruiting@redbonetrucking.com, john@redbonetrucking.com, safety@redbonetrucking.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="RecruitingReleaseOptions.Phone" value="(317) 942-0716" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="RecruitingReleaseOptions.QRLink" value="https://test.truckingwizard.com/redboneportal/Recruiting/VerificationEntryIndex?cde=" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="EmploymentHistoryOptions.HistoryPortalLink" value="https://test.truckingwizard.com/redboneportal/EmploymentHistory/ViewHistory?AccessCde=" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

		<add key="SignalRSettings.LoadHubAPIBaseUrl" value="https://test.signalr.truckingwizard.com/api/Load/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="SignalRSettings.PersonHubAPIBaseUrl" value="https://test.signalr.truckingwizard.com/api/Person/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		

	</appSettings>

	
	
	<applicationSettings>
		<RedbonePlatform.Properties.Settings>

			<setting name="ByPassAuthentication" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>False</value>
			</setting>


		</RedbonePlatform.Properties.Settings>
	</applicationSettings>

	<system.net >
		<mailSettings>
			<!--<smtp deliveryMethod="Network">
        <network host="dedrelay.secureserver.net"  />
      </smtp>-->
			<smtp>
				<network host="smtp.gmail.com" userName="info@redbonetrucking.com" password="#{MailSettings-NetworkPass}#" port="587" enableSsl="true" xdt:Locator="Match(userName)" xdt:Transform="SetAttributes(password)" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
<!--ProjectGuid: 03E98D18-6D8C-4968-8935-E3C8D602F12D-->