<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


	<appSettings>

		


		


		<!--ABL Platform specific text and image/logo settings-->
		<add key="Company.Main.aspx" value="~/images/ABL/ABLTrucking.png"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="Company.LoadStatus.aspx" value="~/images/ABL/ABLTankLinesForLoadScreen.png" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="DispatchSheet.aspx_Image" value="~/images/ABL/ABLTankLinesForLoadScreen.png" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="DispatchSheet.aspx_DispatchEmailFrom" value="info@redbonetrucking.com" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="DispatchSheet.aspx_DispatchEmailFromFriendlyName" value="ABL Dispatch" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="Reporting.DispatchSheet.trdp" value="../images/ABL/ABLTankLinesForLoadScreen.png" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="Reporting.PR_SettlementReview" value="ABL Trucking" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="Reporting.DriverDashboard_CompanyText" value="ABL Trucking" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="Reporting.DriverDashboard_CompanyImage" value="../images/ABL/ABLTankLinesForLoadScreen.png" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="Reporting.OwnerDashboard" value="ABL Daily" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="Reporting.MarketingDashboard" value="ABL Daily" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="MailSettings.CompanyName" value="ABL Trucking" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>
		<add key="MailSettings.Logo" value="/images/ABL/email-logo.png" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(value)"/>

	</appSettings>

	
	
	<applicationSettings>
		<RedbonePlatform.Properties.Settings>

			<setting name="ByPassAuthentication" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>False</value>
			</setting>
			<setting name="Company" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>ABL</value>
			</setting>

		</RedbonePlatform.Properties.Settings>
	</applicationSettings>


</configuration>
<!--ProjectGuid: 03E98D18-6D8C-4968-8935-E3C8D602F12D-->