<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
	
		
		<!-- Secret Token Transforms-->
		<add key="googleClientId" value="#{googleClientId}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="googleClientSecret" value="#{googleClientSecret}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="SignalRSettings.XApiKey" value="#{SignalRSettings-XApiKey}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="GmailConnectionOptions.ClientId" value="#{GmailConnectionOptions-ClientId}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="GmailConnectionOptions.ClientSecret" value="#{GmailConnectionOptions-ClientSecret}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="GmailConnectionOptions.RefreshToken" value="#{GmailConnectionOptions-RefreshToken}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="TextRequestSettings.ApiKey" value="#{TextRequestSettings-ApiKey}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.RootUser" value="#{AsurintSettings-RootUser}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.RootPassword" value="#{AsurintSettings-RootPassword}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="MailSettings.HostUserName" value="#{MailSettings-HostUserName}#"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="MailSettings.HostPassword" value="#{MailSettings-HostPassword}#" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		
		
		
		<!--Regular transforms-->
		
		<!-- prod mail settings -->
		<add key="MailSettings.IsDevelopment" value="false" />
		<add key="MailSettings.SendMailToDedicatedUser" value="False" />
		<add key="MailSettings.DedicatedUserEmailAddress" value="davidstgermain@redbonetrucking.com" />
		<add key="MailSettings.AdminToEmails" value="matt@redbonetrucking.com,davidstgermain@redbonetrucking.com" />
		<add key="MailSettings.SupportToEmails" value="matt@redbonetrucking.com,davidstgermain@redbonetrucking.com" />
		<add key="MailSettings.AccountingFrom" value="accounting@redbonetrucking.com" />
		<add key="MailSettings.AccountingFromDisplayName" value="Justin Quilter &lt;justin@redbonetrucking.com&gt;" />
		<add key="MailSettings.DispatchFrom" value="info@redbonetrucking.com" />
		<add key="MailSettings.DispatchFromDisplayName" value="Redbone Trucking &lt;info@redbonetrucking.com&gt;" />
		<add key="MailSettings.From" value="info@redbonetrucking.com" />
		<add key="MailSettings.FromDisplayName" value="Redbone Trucking &lt;info@redbonetrucking.com&gt;" />
		
		

		<!--Background and texting settings -->
		<add key="PortalUrl" value="https://portal.truckingwizard.com"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.AccountId" value="28450" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.LocationID" value="28450" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		
		<add key="AsurintSettings.CustomerUserReferenceID" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
	
		<add key="AsurintSettings.CreateOrderUrl" value="https://aws.asurint.com/pwslogin/Resources.svc/order?vid=ATS" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.PackageLookupUrl" value="https://aws.asurint.com/pwslogin/resources.svc/packages?vid=ATSx" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactFirstName" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactLastName" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactEmail" value="" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="AsurintSettings.ContactPhone" value="6235129434" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		
		<add key="TextRequestSettings.MsgCreatURL" value="https://api.textrequest.com/api/v3/dashboards/{dashboard_id}/contacts/{phone_number}/messages" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="TextRequestSettings.BaseUrl" value="https://api.textrequest.com/api/v3/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="TextRequestSettings.RecruitingDashboardId" value="29520" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		
		<add key="RecruitingReleaseOptions.ResponseEmail" value="bejay@redbonetrucking.com, recruiting@redbonetrucking.com, john@redbonetrucking.com, safety@redbonetrucking.com" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="RecruitingReleaseOptions.Phone" value="(317) 942-0716" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="RecruitingReleaseOptions.QRLink" value="https://portal.truckingwizard.com/Recruiting/VerificationEntryIndex?cde=" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="EmploymentHistoryOptions.HistoryPortalLink" value="https://portal.truckingwizard.com/EmploymentHistory/ViewHistory?AccessCde=" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>

		<add key="SignalRSettings.LoadHubAPIBaseUrl" value="https://signalr.truckingwizard.com/api/Load/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
		<add key="SignalRSettings.PersonHubAPIBaseUrl" value="https://signalr.truckingwizard.com/api/Person/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)"/>
	

	</appSettings>



	<applicationSettings>
		<RedbonePlatform.Properties.Settings>
			<setting name="LogoutRedirect" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>https://google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://truckingwizard.com/RedbonePlatform/Default.aspx?showlogin=true</value>
				<!--<value>https://google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://localhost/RedbonePlatform/Default.aspx?showlogin=true</value>-->
			</setting>
			<setting name="ByPassAuthentication" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>False</value>
			</setting>
			<setting name="UserFilesLocation" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>C:\RedbonePlatform\UserFiles\</value>
			</setting>
			
			<setting name="DispatchEmailEnabled" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
				<value>True</value>
			</setting>


		</RedbonePlatform.Properties.Settings>
	</applicationSettings>


</configuration>
<!--ProjectGuid: 03E98D18-6D8C-4968-8935-E3C8D602F12D-->